# Ignora dependências do Node.js
backend/node_modules/

# Ignora saída de build, se for criada
backend/dist/

# Ignora arquivos de ambiente
.env
backend/.env

# Logs
*.log
backend/*.log

# Docker volumes temporários
**/.docker-volume/

# VSCode
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db
